@media screen and (max-width: 1680px) {
    .header {
        padding-top: 45px;
        padding-bottom: 50px;
        background: url("head_bg.png") no-repeat center left;
        background-size: cover;
        position: relative;
        margin-bottom: 125px;
        /*max-width: 1440px;*/
        overflow-y: visible;
    }
    .header:after {
        content: "";
        background: url("bottle.png") no-repeat 100% 0%;
        background-size: auto;
        position: absolute;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 37%;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        padding-top: 45px;
        padding-bottom: 50px;
        background: url("bottle.png") no-repeat 58% 100%, url("head_bg.png") no-repeat center top;
        background-size: auto, 1440px;
        position: relative;
        margin-bottom: 45px;
        max-width: 1440px;
    }
    .heading_advantages_text {
        color: #000;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
    }
    .header:after {
        display: none;
    }
    .heading_advantages_list {
        position: relative;
        top: 0px;
    }
}

@media screen and (max-width: 1300px) {
    .center {
        padding-left: 25px;
        padding-right: 25px;
    }
    .faq {
        padding-left: 50px;
        padding-right: 50px;
    }
    .certificate_img {
        position: relative;
        z-index: 5;
    }
    .footer {
        padding-top: 75px;
    }
}

@media screen and (max-width: 1220px) {
    .header {
        padding-top: 45px;
        padding-bottom: 50px;
        background: url("bottle.png") no-repeat 65% 100%, url("head_bg.png") no-repeat center top;
        background-size: auto, 1440px;
        position: relative;
        margin-bottom: 45px;
        max-width: 1440px;
    }
}

@media screen and (max-width: 1120px) {
    .header {
        padding-top: 45px;
        padding-bottom: 30px;
        background: url("bottle.png") no-repeat 70% 100%, url("head_bg.png") no-repeat center top;
        background-size: auto, 1440px;
        position: relative;
        margin-bottom: 45px;
        max-width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding-top: 45px;
        padding-bottom: 30px;
        background: url("head_bg.png") no-repeat 35% 150%;
        background-size: auto, 1440px;
        position: relative;
        max-width: 1440px;
        padding-top: 37px;
        padding-bottom: 50px;
        margin-bottom: 125px;
    }
    .header:after {
        content: "";
        background: url("bottle.png") no-repeat 100% 0%;
        background-size: contain;
        position: absolute;
        width: 400px;
        height: 330px;
        top: 72%;
        left: 48%;
        display: block;
    }
    .heading_advantages_list {
        position: relative;
        top: 135px;
    }
    .top_header {
        margin-bottom: 48px;
    }
    .center {
        padding-left: 5px;
        padding-right: 5px;
    }
    .logo {
        max-width: 84px
    }
    .safty {
        padding: 5px 10px 5px 40px;
        font-size: 12px;
        background-position: -5px 30%;
        background-size: 50px;
    }
    .offer_text {
        font-size: 22px;
    }
    .offer_name {
        font-size: 26px;
    }
    .offer_list {
        padding-right: 38px;
        padding-left: 50px;
        font-size: 12px;
        width: 237px;
    }
    .offer_form {
        width: 250px;
        padding: 17px 12px 27px 28px;
    }
    .form_name {
        padding-right: 0;
    }
    .new_price {
        font-size: 22px;
    }
    .old_price {
        font-size: 14px;
    }
    .prices {
        margin-bottom: 15px;
    }
    .form_input {
        padding: 10px 30px
    }
    .form_input-name {
        margin-bottom: 20px;
    }
    .form_input-tel {
        margin-bottom: 20px;
    }
    .form_btn {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .rest {
        font-size: 12px;
    }
    .offer {
        margin-bottom: 150px;
    }
    .heading_advantages_list li {
        font-size: 12px;
        margin-right: 15px;
    }
    .header_cta {
        width: 250px;
        top: -20px;
    }
    .cta_text {
        font-size: 14px;
    }
    .cta_btn {
        margin-right: 25px;
    }
    .section_heading {
        font-size: 26px;
    }
    .comparison_heading {
        margin: 45px;
        font-size: 19px;
    }
    .comparison_heading-before {
        width: 131px;
    }
    .comparison_heading-now {
        width: 237px;
    }
    .before .img_holder {
        min-width: 132px;
    }
    .now .img_holder {
        min-width: 205px;
    }
    .comparison {
        background-position: 140% 0, 37% 50%, 140% 110%
    }
    .before:after {
        max-height: 100%;
    }
    .now {
        width: 45%
    }
    .before:after {
        top: 50px;
    }
    .section_heading_desc {
        font-size: 19px;
    }
    .advantages_item {
        width: 250px;
    }
    .advantages_icon {
        min-width: 50px;
    }
    .advantages {
        padding-top: 75px;
    }
    .advantages .section_heading {
        margin-bottom: 40px;
    }
    .advantages_heading {
        font-size: 14px;
    }
    .advantages_text {
        font-size: 12px;
    }
    .advantages_icon img {
        max-width: 100%
    }
    .faq_desc {
        font-size: 14px;
    }
    .question {
        font-size: 14px;
    }
    .answer {
        font-size: 12px;
    }
    .faq_img {
        width: 390px;
    }
    .faq_img img {
        max-width: 100%
    }
    .usage_img {
        min-height: 200px;
    }
    .usage_text {
        font-size: 14px;
    }
    .usage_desc {
        font-size: 19px;
    }
    .garanty_name {
        width: 263px;
    }
    .garanty_img {
        max-width: 260px;
        bottom: unset;
        top: -15px;
    }
    .certificate_item {
        max-width: 165px;
    }
    .certificate_img img {
        max-width: 100%;
    }
    .map_wrap {
        max-width: 590px;
    }
    .map_wrap img {
        max-width: 100%;
    }
    .footer {
        background-position: center;
    }
    .form_img img {
        max-width: 100%;
    }
    .usage {
        overflow-x: hidden;
    }
    .img_holder img {
        margin-right: 0;
    }
    .mobide_footer {
        display: none !importanat;
    }
}

@media screen and (max-width: 720px) {
    .display_it {
        display: none !important;
    }
    .flex_it {
        display: flex;
    }
    .mobide_footer {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        background: #409843;
        color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 15px 20px;
        -ms-align-items: center;
        align-items: center;
        z-index: 99;
    }
    .mobide_footer_offer_text,
    .mobile_btn {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    .mobide_footer_offer_text {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .mobide_footer_offer_rest {
        font-size: 15px;
    }
    .mobile_btn {
        padding: 5px 15px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #F5D400;
    }
    .header {
        padding-top: 45px;
        padding-bottom: 30px;
        background: url("bottle.png") no-repeat 70% 100%, url("head_bg.png") no-repeat center top;
        background-size: auto, 1440px;
        position: relative;
        margin-bottom: 45px;
        max-width: 1440px;
    }
    .header:after {
        display: none;
    }
    .heading_advantages_list {
        position: relative;
        top: 0;
    }
    .center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header {
        background-position: 175% 200px, top center;
        background-size: 0, 150%;
        margin-bottom: 0;
    }
    .offer {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        margin-bottom: 25px;
    }
    .offer_list {
        width: 100%;
        font-size: 14px;
    }
    .top_header {
        margin-bottom: 225px;
    }
    .main_offer {
        position: relative;
    }
    .main_offer:after {
        content: '';
        width: 270px;
        height: 300px;
        background: url("bottle2.png") no-repeat center;
        background-size: contain;
        display: block;
        position: absolute;
        right: -75px;
        top: -100px;
    }
    .header_cta {
        display: none;
    }
    .offer_form {
        width: 100%;
    }
    .form_name {
        font-size: 18px;
    }
    .prices {
        text-align: center;
    }
    .heading_advantages_list {
        justify-content: space-between;
        width: 100%;
    }
    .comparison_wrap {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .before:after {
        display: none;
    }
    .before,
    .now {
        width: 100%;
    }
    .comparison {
        background: none;
    }
    .before .img_holder {
        min-width: 250px
    }
    .comparison_heading {
        width: 100% !important;
        max-width: 100% !important;
        margin: 15px 0;
    }
    .advantages {
        background-position: top center;
        background-size: cover;
    }
    .advantages_wrap {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .advantages_item {
        width: 100%;
        min-height: unset;
        margin-bottom: 0 !important;
        -webkit-flex-direction: row !important;
        -moz-flex-direction: row !important;
        -ms-flex-direction: row !important;
        -o-flex-direction: row !important;
        flex-direction: row !important;
        text-align: left !important;
    }
    .advantages_list:first-of-type {
        margin-bottom: 15px;
    }
    .advantages .section_heading {
        margin-bottom: 400px;
    }
    .advantages_wrap {
        background: 0;
        position: relative;
    }
    .advantages_wrap:before {
        content: '';
        width: 100%;
        height: 350px;
        display: block;
        position: absolute;
        bottom: 100%;
        left: 0;
        background: url("bottle2.png") center no-repeat;
        background-size: cover;
    }
    .faq_item:nth-of-type(even) {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
    }
    .choose_form {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        padding-bottom: 125px;
    }
    .choose_form_name,
    .choose_form_wrap {
        width: 100%;
    }
    .choose_form_name {
        margin-bottom: 150px;
    }
    .form_rest {
        right: 50%;
        transform: translate(50%, 0);
    }
    .usage {
        background-size: cover;
    }
    .usage_wrap {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        margin-bottom: 0;
    }
    .usage_item {
        width: 100%;
        margin-bottom: 80px;
    }
    .usage_item:after {
        top: 110%;
        right: 50%;
        transform: translate(50%, 0) rotate(90deg);
        display: block;
    }
    .garanty_block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .garanty_img {
        display: none;
    }
    .garanty_name {
        width: 100%;
        margin-bottom: 25px;
    }
    .certificate_item {
        max-width: 50%
    }
    .reviews h2 {
        text-align: center;
    }
    .map_wrap img:last-of-type {
        display: none;
    }
    .map_wrap {
        max-width: 100%;
        height: auto;
        display: block !important;
    }
    .footer {
        padding-top: 250px;
        background-size: 100%;
        background-position: top center;
        overflow: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .before .comparison_item_heading {
        color: #C92F36;
        font-weight: 500;
        font-family: "Fira Sans", sans-serif;
    }
    .now .comparison_item_heading {
        color: #3B8E3E;
        font-weight: 500;
        font-family: "Fira Sans", sans-serif;
    }
    .modal_form {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    /*.header {
		padding-top: 37px;
		padding-bottom: 50px;
		background-size: 35%, 150%;
	}*/
    .header {
        padding-top: 45px;
        padding-bottom: 50px;
        background: url("bottle.png") no-repeat 70% 100%, url("head_bg.png") no-repeat center top;
        background-size: 0, 250%;
        position: relative;
        margin-bottom: 45px;
        max-width: 1440px;
    }
    .offer_text {
        padding-right: 135px;
    }
    .offer_name {
        font-size: 24px;
    }
    .heading_advantages_list {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section_heading {
        font-size: 20px;
    }
    .before .img_holder,
    .now .img_holder {
        min-width: 130px;
    }
    .comparison_item {
        margin-bottom: 50px !important;
    }
    .comparison_item_heading {
        font-size: 16px;
    }
    .comparison_text {
        font-size: 14px;
    }
    .faq_item {
        -webkit-flex-direction: column !important;
        -moz-flex-direction: column !important;
        -ms-flex-direction: column !important;
        -o-flex-direction: column !important;
        flex-direction: column !important;
    }
    .faq_content,
    .faq_img {
        width: 100%;
    }
    .choose_form_name,
    .choose_form_name .section_heading {
        text-align: center;
    }
    .choose_form {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form_img {
        max-width: 150%;
    }
    .gardeks_flower,
    .gardeks_veg {
        width: 93px;
        font-size: 12px;
    }
    .form_rest {
        font-size: 14px;
        right: 15px;
        transform: none;
    }
    .usage_img {
        min-height: 150px;
    }
    .garanty_text {
        text-align: center;
    }
    .reviews_item {
        padding: 30px 10px;
    }
    .author_name,
    .reviews_text {
        font-size: 14px;
    }
    .footer {
        background-size: 200%;
        padding-bottom: 100px;
    }
    .modal_form {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .prices_popup {
        left: 75%;
    }
}